yelp_academic_dataset_business.json
yelp_academic_dataset_checkin.json
yelp_academic_dataset_review.json
yelp_academic_dataset_tip.json
yelp_academic_dataset_user.json

demographics.csv
demographics_merged.csv
unemployment.csv
zip_fip.csv

restaurants.csv

restaurants_final.csv
review_final.csv
PA_restaurant_user_with_loc.csv
restaurant_w_train_ave_stars.csv

MF_model.pth